

.chat-input {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  color: black;
  width: 100%;
  button {
    background-color: lightseagreen;  
  }
  input {
    width: 80%;
  }


  border: 1px solid black;
}