
.LeftMenu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  background-color: lightsteelblue;
  color: blue;



  .ui.button {
    display: flex;
  }

  border: 1px solid black;
}