
.LeftMenu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
  background-color: lightsteelblue;
  color: blue;



  .ui.button {
    display: flex;
    align-self: flex-end;
  }

  border: 1px solid black;
}