.convo-search {
  display: flex;
  justify-content: space-around;
  padding: 5px;


  background-color: rgb(251, 251, 251);


  border: 1px solid grey;

  .input {
    width: 80%;
  }

  .icon{
    color: darkgrey;
    cursor: pointer;

    &:hover{
      color: black;
    }
  }

 

}