

.chat-message {
  color: black;
  clear: both;

  

 float: right;
 

 .time{
   position: absolute;
   bottom: 3px;
   right:7px;
   color: grey;
   font-size: 0.8em;
 }



  border: 1px solid black;
}


///TESTSTSTSTS

.user {
  float: right;
  background-color: rgb(200, 248, 198);
  text-emphasis: dot after;
}

.partner {
  float: left;
}